@import "../../../styles.scss";

div {
  display: flex;
  justify-content: center;
  margin: 200px 20px;

    table {
      border: 3px solid $secondary;
      width: 600px;
      height: 400px;
        h2 {
          color: $secondary;
          font-family: $font;
          text-align: center;
        }
        th {
          text-align: center;
          border-bottom: 1px solid $secondary;
          height: 10px;
        }
        tbody {
          text-align: center;
          margin: 10px auto;
          color: $quaternary;
        }
  }
}
